@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
html,body{
    height: auto;
    width: 100%;
    max-width: 100%; 
}

*{
    margin: 0;
    padding: 0;
}

:root{
  --bg-image-banner:url("./assets/Image\ 1.png");
  --tipografia-body:'Cormorant Garamond', serif;
  --primary-color:#093931;
  --secundary-color: white;
  --third-color:#F5D38E;
  
}

.encabezado{
  height: 10vh;
  background-color: var(--primary-color);
  padding-top: 8px;
}
.encabezado-nav ul{
  display: flex;
  text-align: center;
  flex-direction: row;
  gap:10px;
  list-style: none;
  margin-right: 100px;
}
.encabezado-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.encabezado-nav h4 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
    Width: 95px;
    Height: 46px;
    color : var(--third-color);
    margin-left:132px;
}

.menu-desplegable a{
    color: white;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;   
    font-size: 14px;
    height: 30px;
    border-radius: 4px;
    line-height: 22px;
    text-decoration: none;
}

.menu-desplegable a img{
    width: 20px;
    height: 20px;
}

.menu-desplegable a:hover {
    cursor: pointer;
    font-weight: 800;
    color: var(--third-color);
    display: inline-block; /* Cambiado a inline-block para que funcione el border-bottom */
    border-bottom: 2px solid var(--third-color);
}

.header_mobilenav{
  margin-right: 2px;
  display: none;
}


.encabezado-secundario {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  width: 100%;
  overflow-wrap: break-word;
  height:760px;
  }

  encabezado-izquierdo{
    margin:-10px;
  }

.encabezado-secundario .encabezado-izquierdo {

  width: 40%;
  margin: 12% 5% 10% 10%;
}


.encabezado-secundario .encabezado-derecho {
  width: 40%;

}




.encabezado-secundario h1{
    color: var(--third-color);
    font-family: 'Cormorant Garamond', serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 94px;
    text-align: left;

    width: 100%;
    
}
.encabezado-derecho .imagen{
  width: 89%;
  height:60%;
  margin-top:10%;
  border-radius: 8px;
}

.encabezado-derecho .imagen2{
  width:53%;
  height:50vh;
  position: relative;
  top:-43%;
  left:56%;
}
.encabezado-derecho .imagen3{
  image-rendering:-moz-crisp-edges;
  width:13%;
  height:7%;
  position: relative;

  left:23%;
  top:-26%;
}


.encabezado-derecho div{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.encabezado-izquierdo div{

  display: flex;
  flex-direction: column;
}


.background-lines {
  position: absolute;
  width: 100%;
    
}

.button1{
    font-family: 'Manrope';
    font-weight: 400;   
    font-size: 18px;
    line-height: 28px;
    background-color: var(--primary-color);
    width: 170px;
    height: 52px;
    color: white; 
    border: 1px solid white;
    border-radius: 25px;
    
    
}


.button1:hover{
  cursor: pointer;
  background-color: #f3f3fa4f;
}
.container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px;
    margin-right:15px ;
}    
.additional-content1 {
    text-align: center;
    margin-top: 20px; 
    margin-right: 25px;
    margin-top: 30px;
    
}

  .additional-content1 p {
    margin-bottom: 10px;
    color: #0D554A;
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f3f3fa;
    color: rgb(48, 60, 142);
    border: none;
    border-radius: 15px;
    border-color: #0e0a7f;
    cursor: pointer;
  }
.image-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    
  }

  .image-section figure {
    margin-right: 20px; 
  }

  .image-section img {
    max-width: 100%;
    height: auto;
  }

  .image-section figcaption {
    text-align: center;
    margin-top: 10px;
  }
  .image-section {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 50vh; 
           
   }
      

   .image-container {
            width: 30%; 
            margin: 10px;
            overflow: hidden;
   }

   .image-container img {
            width: 100%;
            height: auto;
            display: block;
        }
        /* //colección de imagenes */
        .ourcollections{
          text-align: center;
          color: #0D554A;
        }
      .image-section2 {
          display: flex;
          flex-wrap:wrap;
          justify-content: center;
          align-items: center;
          height: 30vh;
          
      }
      .image-section3 {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        height: 50vh;
     
    }

      .image-container {
          width: 15%;
          margin: 10px;
          overflow: hidden;
      }

      .image-container img {
          width: 100%;
          height: auto;
          display: block;
      }

.additional-content2 {
    text-align: center;
    margin-top: 20px; 
    margin-right: 25px;
    margin-top: 30px;

}

  .additional-content2 h4, p {
    margin-bottom: 10px;
    
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f3f3fa;
    color: rgb(48, 60, 142);
    border: none;
    border-radius: 15px;
    border-color: #0e0a7f;
    cursor: pointer;
  }
.image-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    
  }

  .image-section figure {
    margin-right: 20px; 
  }

  .image-section img {
    max-width: 100%;
    height: auto;
  }

  .image-section figcaption {
    text-align: center;
    margin-top: 10px;
  }
  .center-button{
   
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f3f3fa;
    color: rgb(48, 60, 142);
    border: none;
    border-radius: 15px;
    border-color: #0e0a7f;
    cursor: pointer;
    margin-left: 95px;
    margin-bottom: 10px;
   
  }
  .additional-content2 {
    text-align: center;
    margin-top: 20px; 
    margin-right: 25px;
    margin-top: 10px;
}

  .additional-content2 p {
    margin-bottom: 10px;
  }

  .button2 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f3f3fa;
    color: rgb(48, 60, 142);
    border: none;
    border-radius: 15px;
    border-color: #0e0a7f;
    cursor: pointer;
  }
.image-section4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    
  }

  .image-section4 figure {
    margin-right: 20px; 
  }

  .image-section4 img {
    max-width: 100%;
    height: auto;
  }

  .image-section4 figcaption {
    text-align: center;
    margin-top: 10px;
  }

.Video{
  background-color: white;
  height: 490px;
  padding: 5% 8% 5% 8%;
}
.Video h4{
  color:#0D554A;
  font-family: 'Cormorant Garamond';
  font-weight: 600px;
  font-size: 40px;
  text-align: center;
  line-height: 56px;
  margin: 25px 25px 10px 25px;
}

.Video-image{
  image-rendering:optimizeQuality;
  width: 100%;
  height:368px;
  border-radius:8px;
  
}

.Video-boton{
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  top:-40%;
  left:46%;
  /*left:578px;*/

}


.footer-encabezado{
  font-family: 'Manrope',serif;
  font-weight: 400;   
  color:white;
  background-color: var(--primary-color);
  height: 522px;
}

.encabezado_footer{
  display:flex;
  flex-direction: row;
}
.footer-encabezado h1{
  font-family: 'Cormorant Garamond';
  font-size: 48px;
  font-weight: 500;
  line-height: 68px;
  width: 311px;
  height: 68px;
  position: relative;
  top:-270px;
  /*left:122px;*/
}

.footer-encabezado p{
  text-align:right;
  font-size: 16px;
  line-height: 26px;

  /*left: 122px;*/
}

.box{
  display:flex;
  flex-direction:row-reverse;
  width:52%;
  height:375px;
  border-radius:8px;
  background-color:#08312a;
}

.box img{
  
  height:56vh;
  image-rendering:crisp-edges;
  border-radius: 8px;
  
}
.box p{
  width:300px;
  height:182px;
  margin-top:50%;

}

.name {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

}

.icono-izq , .icono-der{
  width: 52px;
  height: 52px;
  background: transparent;
  image-rendering:optimizeQuality;
  border-color: none;
  color:white;
  border-style: none;
}
.icono-der{
  position: relative;
  /*left:1060px;*/
  top:39px;
}
.icono-izq{
  position: relative;
  /*left:935px;*/
  top:39px;
}
.icono-izq:hover , .icono-der:hover{
  cursor:pointer;
  border-radius: 50%;
  background-color: #f3f3fa4f;
}

.footer-encabezado2 h4{
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
  position: relative;
  /*Left: 122px;*/
  Width: 95px;
  Height: 46px;
  Top: 7px;
  color : var(--third-color);
}

.Line{
  color: white;
  font-family: 'Manrope', serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  /*left:760px;*/
  top:-130px;
}
.footer-encabezado2{
  height: 240px;
  background-color: var(--primary-color);
}
.footer-encabezado2 h5{
  color: white;
  font-family: 'Cormorant Garamond';
  font-size: 20px;
  font-weight: 400;
  position: relative;
  /*left:760px;*/
  top:-140px;
}
.menu-footer {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  position: relative;
  /*left:400px;*/
  top:-25px;

}

.menu-footer a {
  color:white;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;   
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  flex-basis: 50%; 
  margin-bottom: 15px;  
  text-align:left; 
}

.footer-encabezado2 h6{
  color:white;
  top: 187px;
  /*left: 132px;*/
  font-family: 'Manrope', sans-serif;
  font-weight: 400;   
  position: relative;
  /*Left: 122px;*/
  top:5px;
}

form{
  position:relative;
  /*left:760px;*/
  top:-126px;
}

form button{
  width: 114px;
  height: 37px;
  background-color:#F2C66D;
  border: none;
  align-self: center;
  border-radius: 0px 18px 18px 0px;
  color:#6B4A09;
  margin-left: -5px;
  cursor: pointer;
}
.email-input{
  font-family: 'Manrope', sans-serif;
  font-weight: 400;   
  font-size: 14px;
  line-height: 22px;
  background: none;
  width: 269px;
  height: 35px;
  border:1px solid white;
  padding-left: 35px;
  border-radius: 18px 0px 0px 18px;
}
.email-input::placeholder {
  color: white;
}
.boton-input{
  image-rendering:optimizeSpeed;
  position: absolute;
  /*left: 10px;*/
  top:10px;
  
}
.Logos-redes{
  position: relative;
  /*left:1048px;*/
  top:-55px;
  display:flex;
  flex-direction: row;
  
  gap:13px;
}

@media screen and (max-width:987px){
  
  .encabezado-nav h4{
    margin-left:1%;
  }
  .encabezado-nav ul{
      display:none;
  }
  .header_mobilenav {
      display: block;
  }
  .encabezado-derecho{
    display:flex;
    flex-wrap: wrap;
  }
  .encabezado-derecho div{
    flex-wrap: wrap;
  }
  .encabezado-izquierdo {
    width: 40% !important;
  }
  .encabezado-izquierdo div{
    display:flex;

  }
}

@media screen and (min-width:980px){
  
  .encabezado-nav ul{
      display:flex;
  }
  .header_mobilenav {
      display: none;
  }

  .encabezado-derecho{
    display:flex;
  }
  .encabezado-derecho .imagen2{
    width:57%;
    height:40%;
  }

  .encabezado-derecho div{
    display:flex;
    flex-direction: wrap;
  }
  .encabezado-izquierdo {
    width: 40% !important;
  }
}
