@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
html,body{
    height: auto;
    width: 100%;
    max-width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

:root{
  --bg-image-banner:url("./assets/Image\ 1.png");
  --tipografia-body:'Cormorant Garamond', serif;
  --primary-color:#093931;
  --secundary-color: white;
  --third-color:#F5D38E;

}

.encabezado{
  height: 10vh;
  background-color: var(--primary-color);
  padding-top: 8px;

}
.encabezado-nav .menu-desplegable{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 245px;
  justify-content: flex-end;
  margin-top: 10px;
}
.encabezado-nav{
  display:flex;
  justify-content: space-between;

}

.encabezado-nav h4 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
    Width: 95px;
    Height: 46px;
    color : var(--third-color);
    margin-left:132px;

}


.menu-desplegable a{
    color: white;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 30px;
    border-radius: 4px;
    line-height: 22px;
    text-decoration: none;

}

.menu-desplegable a img{
    width: 20px;
    height: 20px;
}

.menu-desplegable a:hover {
    cursor: pointer;
    font-weight: 800;
    color: var(--third-color);
    display: inline-block; /* Cambiado a inline-block para que funcione el border-bottom */
    border-bottom: 2px solid var(--third-color);
}
/* input and search*/
.container{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  width: 100%;
  overflow-wrap:normal;
  height: 300px;


}
.container h1{
  color: var(--third-color);
  font-family: 'Cormorant Garamond', serif;
  font-size: 45px;
  font-weight: 200;
  line-height: 94px;
  text-align: end;



}
.search-section {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  position: relative;
  margin-left: 33%;
  /* margin-left: -20px;
  padding: 10px;
  margin-top: 8%;
   */

}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 40px;
  margin-right: 2px;
  height: 1px;
  width: 350px; /* Espacio entre el input y el botón */
}

.search-button {
  padding: 10px;
  background-color: #fff; /* Color de fondo del botón (puedes cambiarlo según tus preferencias) */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.search-button img {
  width: 20px; /* Tamaño del icono de búsqueda (puedes ajustarlo según tus necesidades) */
}

.container-box {
  display: flex;
  max-width: 100%;
  margin-top: 294px;
  flex-direction: column;

}

.container-box .horizontal-menu {
  background-color: var(--secundary-color);
  color: var(--primary-color);
  display: flex;
  gap: 2.25rem;
  left: 10rem;

}

.horizontal-menu ul {
  list-style: none; 
  display: flex;
  flex-direction: row;
  margin-left: 5em;
  

}

.horizontal-menu li {
  margin-right: 4rem;
  margin-top: 3.2rem;
  

}
.horizontal-menu a {
  font-family: var(--tipografia-body);
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  color: var(--primary-color);
  display: inline-block; /* Cambiado a inline-block para que funcione el border-bottom */
  
  
  ;
}
.dropdown {
  display: inline-block;
}

.dropbtn {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding: 10x 16px;
  margin-left: 8.12rem;
  
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:transparent;
  min-width: 160px;
  z-index: 1;
  padding: 10x 16px;
  margin-left: 8.12rem;
  
}

.dropdown-content a {
  color:var(--primary-color);
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--third-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}


.image-collection {
  text-align: center;
  padding: 20px;
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-collection .image-row figure {
  margin-right: 10px;
}

.image-collection .image-row img {
  width: 150px;
  height: 150px;
  flex-shrink: 0;

}

figcaption {
  margin-top: 10px;
  font-size: 16px;
  color:black;
  text-align: left;
}
.image-row h6{
  text-align: left;
}
 .image-collection .image-row{
  padding-left: 8.25rem;
  padding-right: 8.25rem;
  

 }
 .Collections-principal {
  display: flex;
  padding:8.25em;
  gap: 33px;
  margin-left: 50px;
 

  
  

 }
 .Collections-principal .principal {
  width: 370px;
  height: 420px;
 }
 .Collections-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
 .Collections-row img{
  display: flex; 
  align-items: center;
  margin-left: 10px;
  width: 150px;
  height: 180px;
  flex-shrink: 0;  
  
 }
 .navigation-section {
  text-align: center;
  padding: 20px;
}

.navigation-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent; /* Color de fondo del botón (puedes cambiarlo según tus preferencias) */
  color: var(--primary-color); /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.page-indicator {
  margin: 0 20px;
  font-size: 16px;
}
.container-contact{
  display: flex;
  flex-direction: row;
  align-items: center;
 
  padding: 10px;

  margin-right:20px ;
  margin-left: 10px;
  margin-bottom: 3%;
}    


.container-contact div{
text-align: center;
}
.container-contact h4{
font-family: "Cormorant Garamond";
font-size: 18px;
font-weight: 600;
line-height: 28px;
}

.container-contact p{
height:1vh;
font-family: "Manrope";
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
padding-left:10%;
padding-right:10%;


}
footer{
  background-color: var(--primary-color);
  width: 100%;
}
.foot-izq2{
  display: flex;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  margin: 6% 2%;
}
.footer-encabezado2{
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  
  
}
.menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
  margin-left: 15vw;
  margin-top: 1vh;
 
}
.menu-footer div{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  
}

.foot-izq2 h4{
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 46px;
  height: 10%;
  width: 66px;
  color : var(--third-color);
  
}

.menu-footer a{
color:white;
font-family: 'Manrope', sans-serif;
font-weight: 400;   
font-size: 0.875em;
line-height: 1.375em;
text-decoration: none;
margin-bottom: 0.5em;  
margin-right: 0.5em;
text-align:left;
}

.foot-der2{
  display: flex;
  flex-direction: column;
  margin:5% 2.5%;
  max-width: 100%;
  justify-content: flex-start;
  position: relative;
}
.foot-der2 h5{
  color: white;
  font-family: 'Cormorant Garamond';
  font-size: 1.25em;
  font-weight: 400;
  

}
.foot-der2 p{
  color: white;
  width: max-content;
  font-family: 'Manrope', serif;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 1vh;

}

.foot-der2 img{
  display: block;
  width: 16px;
  height: 16px;
  image-rendering:optimizeSpeed;
  position: absolute;
  top:55px;
  left: 2%;
}


.foot-der2 form button{
  width: 114px;
  height: 37px;
  background-color:#F2C66D;
  border: none;
  align-self: center;
  border-radius: 0px 18px 18px 0px;
  color:#6B4A09;
  margin-left: -1%;
  cursor: pointer;
}
.foot-der2 .email-input{
  width: 269px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;   
  font-size: 0.875em;
  line-height: 1.35em;
 
  background: none;
  
  height: 34px;
  border:1px solid white;
  
  border-radius: 18px 0px 0px 18px;
  padding-left: 7%;
}
.email-input::placeholder {
  color: white;
}

.Logos-redes div{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap:8px;
  
}

.Logos-redes{
  background-color: var(--primary-color);
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 2.6%;
}

.Logos-redes h6{
  color: white;
  font-size: 0.75em;
  font-family: 'Manrope', serif;
  font-weight: 400;
  margin-left: 2%;
  
}

/* Media Query*/
@media screen and (max-width: 465px){
  .footer-encabezado2 .foot-der2{
      display:none;
  }
}


@media screen and (max-width: 790px)
{
  .foot-der2{
      display:flex;
      flex-direction: column;
      margin-left: 9%;
      margin-top: 0px;
  }
  .compraExitosa{
      border:none;
  }

  .foot-izq2{
      margin: 6% 9%;
      font-size: medium;
  }
  .encabezado-principal h4{
      margin-left: 9%;
  }
  .Logos-redes{
      margin:0% 7.6%;
  }

}



@media screen and (min-width: 800px){
  .encabezado-principal{
      font-size: medium;
  }
  .menu-desplegable{
      display: flex;
      flex-direction: row;
      margin-top:1px;
  
  }
  .encabezado-principal h4{
      margin-left: 30px;
  }
  .foot-der2 img{
      top:55px;
  }
  .foot-izq2 h4{
      margin-left: 20px;
  }
  .header_mobilenav{
      display: none;
  }
  .compraExitosa{
      width: 560px;
      justify-content: center;
      font-size: larger;
  }
  .compraExitosa button{
      font-size: medium;
  }

  .footer-encabezado2{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      margin-top: 50px;
  }
  .foot-izq2{
      width: 40%;
      
  }
  
  .menu-footer{
      height: 57px;
      margin-left: 9vw;
  }
  .foot-der2{
      font-size: medium;
      width: 60%;
      margin-top: 3.45em;
      margin-left: 5vw;
      margin-right: 0%;
      
  }

}


@media screen and (min-width: 1000px){
  .encabezado-principal{
      font-size: large;
  }
  .agradecimiento{
      font-size: larger;
  }
  .encabezado-principal h4{
      margin-left: 132px;
  }
  .footer-encabezado2{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      font-size: large;
  }
  .foot-izq2{
      width: 50%;
      margin-top: auto;
  }
  .foot-izq2 h4{
      margin-left: 2.5em;
  }
  
  .menu-footer{
      height: 56px;
      margin-left: 9vw;
  }
  .foot-der2{
      font-size: medium;
      width: 50%;
      margin-top: 4.1em;
      margin-left: 10vw;
      margin-right: 0%;
  }
  .Logos-redes h6{
      margin-left: 5em;
  }
  .Logos-redes div{
      margin-right: 5em;
  }

  .foot-der2 img{
      margin-top: 1px;
  }


}
