@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
html,body{
    height: auto;
    width: 100%;
    max-width: 100%; 
}

*{
    margin: 0;
    padding: 0;
}

:root{
  --bg-image-banner:url("../assets/Image\ 1.png");
  --tipografia-body:'Cormorant Garamond', serif;
  --primary-color:#093931;
  --secundary-color: white;
  --third-color:#F5D38E;
  
}

.encabezado{
  height: 10vh;
  background-color: var(--primary-color);
  padding-top: 8px;
}
.encabezado-nav ul{
  display: flex;
  text-align: center;
  flex-direction: row;
  gap:10px;
  list-style: none;
  margin-right: 100px;
}
.encabezado-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.encabezado-nav h4 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
    Width: 95px;
    Height: 46px;
    color : var(--third-color);
    margin-left:132px;
}

.menu-desplegable a{
    color: white;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;   
    font-size: 14px;
    height: 30px;
    border-radius: 4px;
    line-height: 22px;
    text-decoration: none;
}

.menu-desplegable a img{
    width: 20px;
    height: 20px;
}

.menu-desplegable a:hover {
    cursor: pointer;
    font-weight: 800;
    color: var(--third-color);
    display: inline-block; /* Cambiado a inline-block para que funcione el border-bottom */
    border-bottom: 2px solid var(--third-color);
}

.header_mobilenav{
  margin-right: 2px;
  display: none;
}


.encabezado-secundario {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  width: 100%;
  overflow-wrap: break-word;
  height:760px;
  background-image: var(--bg-image-banner);
  }

  encabezado-izquierdo{
    margin:-10px;
  }

.encabezado-secundario .encabezado-izquierdo {

  width: 40%;
  margin: 12% 5% 10% 10%;
}


.encabezado-secundario .encabezado-derecho {
  width: 40%;
  margin-left: -5%;

}




.encabezado-secundario h1{
    color: var(--third-color);
    font-family: 'Cormorant Garamond', serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 94px;
    text-align: left;

    width: 100%;
    
}
.encabezado-derecho .imagen{
  width: 89%;
  height:60%;
  margin-top:10%;
  border-radius: 8px;
}

.encabezado-derecho .imagen2{
  width:53%;
  height:50vh;
  position: relative;
  top:-43%;
  left:56%;
}
.encabezado-derecho .imagen3{
  image-rendering:-moz-crisp-edges;
  width:13%;
  height:7%;
  position: relative;

  left:23%;
  top:-26%;
}


.encabezado-derecho div{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.encabezado-izquierdo div{

  display: flex;
  flex-direction: column;
}


.background-lines {
  position: absolute;
  width: 100%;
    
}

.button1{
    font-family: 'Manrope';
    font-weight: 400;   
    font-size: 18px;
    line-height: 28px;
    background-color: var(--primary-color);
    width: 170px;
    height: 52px;
    color: white; 
    border: 1px solid white;
    border-radius: 25px;
    
    
}


.button1:hover{
  cursor: pointer;
  background-color: #f3f3fa4f;
}
.container{
    display: flex;
    text-align: center;
    justify-content:space-around;
    align-items:flex-start;
    padding: 10px;
    margin-right:20px ;
    margin-left: 10px;
    margin-bottom: 3%;
}    


.container div{
text-align: center;
}
.container h4{
  font-family: "Cormorant Garamond";
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.container p{
  height:1vh;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding-left:13%;
  padding-right:11%;


}

.image-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 11%;
  
}

.image-section {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;      
 }

.additional-content1 {
    text-align: left; 
    margin-right: 25px;
    margin-top: -4%;
}

.additional-content1 h2{
  font-family: "Cormorant Garamond";
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  color:var(--primary-color);
  width: 30%;


}

  .button1:hover {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f3f3fa;
    color: rgb(48, 60, 142);
    border: none;
    border-radius: 15px;
    border-color: #0e0a7f;
    cursor: pointer;
  }

  .image-section figure {
    margin-right: 20px; 
  }

  .image-section img {
    max-width: 100%;
    height: auto;
  }

  .image-section figcaption {
    text-align: center;
    margin-top: 10px;
  }
  
      

   .image-container {
            width: 30%; 
            margin: 10px;
            overflow: hidden;
   }

   .image-container img {
            width: 100%;
            height: auto;
            display: block;
        }

/* //colección de imagenes */

  /* Our collections */

  .collections {
    text-align: center;
    padding: 20px;
}

.collections-title {
    font-size: 24px;
    color: var(--primary-color);
}

.collections-cards .image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.collections-cards .image-row figure{
    display: flex;
    align-items:flex-end;
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 10px;
}




.image-row img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    
}

figcaption {
    margin-top: -30px;
    margin-left: 26px;
    font-size: 16px;
    color:var(--secundary-color);
    position: absolute;
}

.external-button {
  display: block;
  margin: 0 auto; 
  padding: 10px 20px;
  font-size: 16px;
  background-color:#f3f3fa;
  color: var(--primary-color);
  border: var(--primary-color);
  border-radius: 15px;
  border-color: var(--primary-color);
  cursor: pointer;
}

   
      
      .image-section2 {
          display: flex;
          flex-wrap:wrap;
          justify-content: center;
          align-items: center;
          height: 30vh;
          
      }
      .image-section3 {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        height: 50vh;
     
    }

      .image-container {
          width: 15%;
          margin: 10px;
          overflow: hidden;
      }

      .image-container img {
          width: 100%;
          height: auto;
          display: block;


.additional-content2 {
    text-align: center;
    margin-top: 20px; 
    margin-right: 25px;
    margin-top: 30px;
    margin-left: 50px;

}

  .additional-content2 h4, p {
    margin-bottom: 10px;
    
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
    color:var(--primary-color);
    border:#08312a;
    border-radius: 15px;
    border-color:var(--primary-color);
    cursor: pointer;
  }
.image-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    
  }

  .image-section figure {
    margin-right: 20px; 
  }

  .image-section img {
    max-width: 100%;
    height: auto;
  }

  .image-section figcaption {
    text-align: center;
    margin-top: 10px;
  }
  .center-button{
    
    padding: 10px 20px;
    font-size: 16px;
    color:var(--primary-color);
    border:var(--primary-color);
    border-radius: 15px;
    border-color: var(--primary-color);    
    cursor: pointer;
    cursor: pointer;
    margin-left: 100px;
    margin-bottom: 10px;
    
    
   
  }
  .additional-content2 {
    text-align: center;
    margin-top: 20px; 
    margin-right: 25px;
    margin-top: 10px;
}

  .additional-content2 h2, p {
    margin-bottom: 10px;
    color: #0D554A;
  }

  .button2 {
    padding: 10px 20px;
    font-size: 16px;
    
    color:#0D554A;
    border:#0D554A;
    border-radius: 15px;
    border-color:#0D554A;
    cursor: pointer;
  }
.image-section4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    
  }

  .image-section4 figure {
    margin-right: 20px; 
  }

  .image-section4 img {
    max-width: 100%;
    height: auto;
  }

  .image-section4 figcaption {
    text-align: center;
    margin-top: 10px;
  }

.Video{
    margin-top: 10em;
    background-color: white;
    height: 490px;
    padding: 1% 8% 3% 8%;
    margin-bottom: -2%;
}
.Video h4{
  color:#0D554A;
  font-family: 'Cormorant Garamond';
  font-weight: 600px;
  font-size: 40px;
  text-align: center;
  line-height: 56px;
  margin: 25px 25px 10px 25px;
}

.Video-image{
  image-rendering:optimizeQuality;
  width: 100%;
  height:368px;
  border-radius:8px;
  
}

.Video-boton{
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  top:-40%;
  left:46%;
}

 
footer{
  background-color: var(--primary-color);
}
.foot-izq2{
  display: flex;
  flex-direction: row;
  height: auto;
  max-width: 100%;
  margin: 6% 2%;
}
.footer-encabezado2{
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  
  
}
.menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
  margin-left: 15vw;
  margin-top: 1vh;
 
}
.menu-footer div{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  
}

.foot-izq2 h4{
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 46px;
  height: 10%;
  width: 66px;
  color : var(--third-color);
  
}

.menu-footer a{
color:white;
font-family: 'Manrope', sans-serif;
font-weight: 400;   
font-size: 0.875em;
line-height: 1.375em;
text-decoration: none;
margin-bottom: 0.5em;  
margin-right: 0.5em;
text-align:left;
}

.foot-der2{
  display: flex;
  flex-direction: column;
  margin:5% 2.5%;
  max-width: 100%;
  justify-content: flex-start;
  position: relative;
}
.foot-der2 h5{
  color: white;
  font-family: 'Cormorant Garamond';
  font-size: 1.25em;
  font-weight: 400;
  

}
.foot-der2 p{
  color: white;
  width: max-content;
  font-family: 'Manrope', serif;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 1vh;

}

.foot-der2 img{
  display: block;
  width: 16px;
  height: 16px;
  image-rendering:optimizeSpeed;
  position: absolute;
  top:53px;
  left: 2%;
}


.foot-der2 form button{
  width: 114px;
  height: 37px;
  background-color:#F2C66D;
  border: none;
  align-self: center;
  border-radius: 0px 18px 18px 0px;
  color:#6B4A09;
  margin-left: -1%;
  cursor: pointer;
}
.foot-der2 .email-input{
  width: 269px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;   
  font-size: 0.875em;
  line-height: 1.35em;
 
  background: none;
  
  height: 34px;
  border:1px solid white;
  
  border-radius: 18px 0px 0px 18px;
  padding-left: 7%;
}
.email-input::placeholder {
  color: white;
}

.Logos-redes div{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap:8px;
  
}

.Logos-redes{
  background-color: var(--primary-color);
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 2.6%;
}

.Logos-redes h6{
  color: white;
  font-size: 0.75em;
  font-family: 'Manrope', serif;
  font-weight: 400;
  margin-left: 2%;
  
}


.footer-encabezado{
  background-color: var(--primary-color);
  font-family: 'Manrope',serif;
  font-weight: 400;   
  color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.part_izqfoot1{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  margin-bottom: 25px;

}

.part_derfoot1{
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}



.box{
  margin: 0 72px;
  width: 696px;
  height: 375px;
  /* max-width:696px; */    
  /* height: 68vh; */
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(8, 31, 27);
  border-radius: 8px;
  position: relative;
  
}
.box figure{
  width: 40%;
  height: 100%;
}
.imagen-persona{
  height: 100%; 
  width: 100%;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}
.box p{
  
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center; 
  font-family: 'Manrope',serif;
  
  font-weight: 400;
  font-size: 1em;
  line-height: 1.625em;
  margin: 16px 42px 2px 33px;
  /* position: relative; */
  /* margin-left:5%;
  margin-right: 2.4%;
  margin-top: 14%;
  max-width: 600px; */
 
}

.caja-parrafo{
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content:center;
  /* position: relative; */
  /* height: max-content; */
}

.botones-foot{
  display: flex;
  justify-content: space-between;
  width: 120px;
  position: absolute;
  bottom: -30px;    
  right: 50px;
  /* align-self: flex-end; */
  z-index: 1000;
  
}


.botones-foot img:hover{
 
  cursor:pointer;
  border-radius: 50%;
  background-color: #f3f3fa4f;
}


.name {
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.875em;
}

.nacionality{
  font-size: 1em;
  line-height: 1.625em;
  margin-bottom: 3%;
}

.text{
  display:flex;
  flex-direction: column;
  justify-content:left ;
  font-size: 1em;
 
  text-align: left;
  padding-left: 3vw;
}

.text h1{
  font-family:'Cormorant Garamond', serif;
  font-weight: 600;
  line-height: 3.5em;
  font-size: 2em;
}
.text p{
  font-size: 1em;
  line-height: 1.625em;
}
         


/*Pantala de 980 en adelante*/
@media screen and (min-width:1000px){
  .encabezado{
    width: 100%;
  }
  .encabezado-secundario{
    width: 100%;
    height: 100vh;
  }
  .encabezado-nav ul{
    display:flex;
  }
  .encabezado-derecho{
    display:flex;
    
  }

  .encabezado-derecho .imagen2{
    width:57%;
    height:40%;
  }
  .encabezado-derecho div{
    display:flex;
    flex-direction: wrap;
  }
  .encabezado-izquierdo {
    width: 40% !important;
  }
  .footer-encabezado{
    display: flex;
    flex-direction: row;
    height: 522px;
    align-content: center;
  }
  .footer-encabezado2{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-content: center;
  }
  .foot-izq2, .foot-der2{
          width: 50%;
  }
  .menu-footer{
          height: 100px;
  }
  .foot-der2{
          margin-top: 5em;
          margin-right: 0%;
  }
  .part_derfoot1{
          width: 60%;
          height: 100%;
          max-width: 100%;
          align-content: center;
  }
  .part_izqfoot1{
          width: 40%;
          max-width: 100%;
          font-size: medium;
  }
  .box{
          margin:0;
          align-self: center;
  }
  .text{
          padding-right:26px;
          text-align: left;
  }
 

 

}


/*Pantala de 895 pa atras*/
@media screen and (max-width:946px)
{
  .container p{
    font-size: small;
  }
  
  .encabezado-nav ul{
    display:flex;
  }
  .encabezado-derecho{
    display:flex;
  }
  .encabezado-derecho .imagen2{
    width:57%;
    height:40%;
  }
  
  .encabezado-derecho div{
    display:flex;
    flex-direction: wrap;
  }
  
  .encabezado-izquierdo {
    width: 40% !important;
  }
  
  .footer-encabezado2{
    max-width: 100%;
    margin: 3% 3%;
  }
  .foot-izq2{
        font-size: 1.3em;
        font-size: large;
        margin: 1% 2%;
  }
  .foot-der2{
        max-width: 100%;
        font-size: medium;
  }
  .text{
        text-align: center;
        font-size: larger;
  }
  .caja-parrafo {
        font-size: large;
  }


}


/*Pantala de 783 pa atras*/
@media screen and (max-width:783px){
  .encabezado-nav ul{
    display:none;
  }
  .header_mobilenav {
    display: block;
  }
  .encabezado-derecho{
    display:flex;
  }
  .encabezado-derecho .imagen2{
    width:57%;
    height:40%;
  }
  .encabezado-derecho div{
    display:flex;
    flex-direction: wrap;
  }
  .encabezado-izquierdo {
    width: 40% !important;
  }
    .footer-encabezado{
        display: none;
    }


}
/*Pantala de celular pa atras*/
@media screen and (max-width: 464px){
  .header_mobilenav {
    display: block;
  }
  .encabezado-derecho{
    display:none;
  }
  .encabezado-nav ul{
    display:none;
  }
  .encabezado-nav h4{
    margin-left:0%;
  }
  .encabezado-izquierdo {
    width: 100% !important;
    height: max-content;
  }
  .encabezado-izquierdo div{
    display:flex;

  }
    .foot-der2{
        display:none;
    }

    .footer-encabezado{
        display: none;
    }
}

 



}


